<%# Head / Meta Data %>
<% title("Contact Us | SimpliFly Flight School") %>
<% meta_description("Contact Simplifly, the premier flight school in Mesa, Phoenix, Scottsdale. Reach out to us for inquiries, information, or to schedule a visit. We're here to assist you.") %>
<% meta_keywords("Contact Simplifly, Flight School Contact, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School") %>

<%= render "shared/header"%>
<div class="bg-gradient-to-l from-slate-200 to-blue-50">
  
  <div class="w-full flex justify-center align-middle items-center gap-7 flex-col md:flex-row">
    <div
      class="bg-sky-200 rounded my-10 py-3 max-w-sm h-32 px-5 flex gap-5 items-center group hover:bg-slate-400 duration-500"
    >
      <%=image_tag "settings.png", class: "h-20 w-20", alt: "The team at SimpliFly"%>
      <div>
        <p
          class="text-slate-900 font-bold text-xl leading-tight group-hover:text-gray-100 duration-500"
        >
          Maintenance Personnel!
        </p>
        <p
          class="text-sm group-hover:text-gray-200 font-semibold leading-tight"
        >
          Now Hiring
        </p>
      </div>
    </div>
    <div
      class="bg-gray-400 rounded my-10 py-3 max-w-sm h-32 px-5 flex gap-5 items-center group hover:bg-slate-500 duration-500"
    >
      <%=image_tag "headphone2.png", class: "h-20 w-20", alt: "The team at SimpliFly"%>
      <div>
        <p
          class="text-slate-900 font-bold text-xl leading-tight group-hover:text-gray-100 duration-500"
        >
          Not Currently Hiring CFIs
        </p>
        <p
          class="text-sm group-hover:text-gray-200 font-semibold leading-tight"
        >
        </p>
      </div>
    </div>
  </div>

  <h1 class="font-bold text-4xl pt-10 text-center">Contact Us</h1>
  <div class="lg:flex lg:flex-row-reverse items-center lg:items-start">
  

    <div class="mx-10 lg:px-16 lg:w-1/2">
      <%= render "form", message: @message %>      
    </div>

    <div class="mx-0 lg:w-1/2">
      <%=image_tag "happy-visitors-at-simplifly-flight-school-in-mesa-arizona-for-pilot-training.webp", class: "lg:pt-10 lg:pl-20 lg:rounded-xl", alt: "happy-visitors-at-simplifly-flight-school-in-mesa-arizona-for-pilot-training"%>
    </div>

  </div>

</div>

<%= render "shared/visit_school"%>
<%= render "shared/footer"%>