<!--Hamburger Button-->
<button x-on:click="open = !open"
        class="flex items-center space-x-2 focus:outline-none">

  <span x-text="open ? 'Close' : 'Menu'"
        class="text-lg font-semibold text-ideal-blue">Menu</span>
  
  <div class="w-6 flex items-center justify-center relative text-slate-400">
    <span x-bind:class="open ? 'translate-y-0 rotate-45' : '-translate-y-2'"
          class="transform transition duration-500 w-full h-[3px] bg-current absolute"></span>
    
    <span x-bind:class="open ? 'opacity-0 translate-x-3' : 'opacity-100'"
          class="transform transition duration-500 w-full h-[3px] bg-current absolute"></span>
    
    <span x-bind:class="open ? 'translate-y-0 -rotate-45' : 'translate-y-2'"
          class="transform transition duration-500 w-full h-[3px] bg-current absolute"></span>
  </div>
</button>

<menu x-show="open"
      x-cloak
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="-translate-x-full opacity-0"
      x-transition:enter-end="translate-x-0 opacity-100"
      x-transition:leave="transition ease-in duration-300 transform"
      x-transition:leave-start="translate-x-0 opacity-100"
      x-transition:leave-end="-translate-x-full opacity-0"
      class="absolute h-screen-mobile overflow-y-auto w-screen left-0 top-16 bg-gradient-to-b from-slate-50 to-blue-200 pt-3 flex flex-col z-50"
>
  <div class="ml-16 mr-5 mt-5" x-data="{
          mobile_resources_drop: false,
          mobile_now_drop: false,
          mobile_certification_drop: false,
          mobile_about_drop: false }">
    <ul class="space-y-4 font-semibold italic">
      <li><%= link_to "NEW TO FLYING?", become_path%></li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%= link_to "PILOT RESOURCES", pilot_resources_path%></div>
          <div class="px-5 py-1" x-on:click="mobile_resources_drop = ! mobile_resources_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_resources_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--Pilot Resources Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_resources_drop}">
          <%= link_to "SCHEDULER" ,"https://app.flightschedulepro.com/Account/Login?", target: "blank"%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_resources_drop}">
          <%= link_to "FIXED WING FLEET", fixed_wing_path%>
        </li>
        <li class="ml-5 animate-slide-in-left3" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left3': !mobile_resources_drop}">
          <%= link_to "ROTARY WING FLEET", rotary_wing_path%>
        </li>
        <li class="ml-5 animate-slide-in-left4" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left4': !mobile_resources_drop}">
          <%= link_to "TRAINING RESOURCES", pilot_resources_path%>
        </li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%=link_to "FLY NOW", become_path%></div>
          <div class="px-5 py-1" x-on:click="mobile_now_drop = ! mobile_now_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_now_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--Now Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_now_drop}">
          <%=link_to "DISCOVERY FLIGHT", discovery_flight_path%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_now_drop}">
          <%=link_to "PILOT PROGRAMS", programs_path%>
          
        </li>
        <li class="ml-5 animate-slide-in-left3" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left3': !mobile_now_drop}">
          <%=link_to "AIRCRAFT RENTAL", aircraft_rental_path%>
        </li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%= link_to "PILOT CERTIFICATION", programs_path%></div>
          <div class="px-5 py-1" x-on:click="mobile_certification_drop = ! mobile_certification_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_certification_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--PILOT CERTIFICATION Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_certification_drop}">
          <%=link_to "AIRCRAFT PILOT TRAINING", airplane_training_path%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_certification_drop}">
          <%=link_to "HELICOPTER PILOT TRAINING", helicopter_training_path%>
        </li>
        <li class="ml-5 animate-slide-in-left3" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left3': !mobile_certification_drop}">
          <%=link_to "PRIVATE PILOT TRAINING", private_pilot_path%>
        </li>
        <!--<li class="ml-5 animate-slide-in-left4" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left4': !mobile_certification_drop}">
          <%=link_to "ADVANCED TRAINING", advanced_training_path%>
        </li>-->
      <li><%=link_to "NEWS", news_path%></li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%=link_to "ABOUT US", about_us_path%></div>
          <div class="px-5 py-1" x-on:click="mobile_about_drop = ! mobile_about_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_about_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--Now Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_about_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_about_drop}">
          <%=link_to "OUR STORY", about_us_path%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_about_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_about_drop}">
          <%=link_to "OUR TEAM", our_team_path%>
        </li>
        <li class="ml-5 animate-slide-in-left3" x-show="mobile_about_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left3': !mobile_about_drop}">
          <%=link_to "WHERE TO FIND US", location_path%>
        </li>
      <li class="my-10">
            <%= link_to "CONTACT", contact_path, class: "not-italic bg-ideal-blue text-slate-50 px-3 py-2 rounded-xl hover:bg-ideal-blue-light hover:scale-110 hover:drop-shadow-xl transition duration-300 z-0"%>  
      </li>
    </ul>
  </div>
</menu>
