<%# Head / Meta Data %>
<% title("Pricing and Cost Calculator | SimpliFly Flight School") %>
<% meta_description("Use Simplifly's pilot training pricing calculator to estimate the cost of your pilot training. Get an approximate idea of the expenses involved and plan your training accordingly. Our experienced instructors, affordable aircraft, and personalized training approach make us the perfect choice for pilot training. Our flight schools are in Mesa, AZ and Spanish Fork, UT.  Many of our students come from Gilbert, Chandler, Tempe, Scottsdale, Apache Junction, Queen Creek, Fountain Hills, Gold Canyon, Maricopa, Pinal, Springville, Provo, Payson, Mapleton, Salem, Elk Ridge, Utah County, Juab County") %>
<% meta_keywords("Pilot Training Pricing Calculator, Flight Training Costs, Training Expenses, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School, approximate flight training costs, how much to be a pilot") %>

<%= render "shared/header"%>
<%= render "shared/checkbox_css"%>
<%# Declare variables %>
<% airplane_rental = "165" %>
<% multi_rental = "400" %>
<% instruction = "70" %>
<% simulator = "130" %>
<% zero_to_hero = "78250" %>
<% ppl_to_hero = "59750" %>
<% mei_addon = "10500" %>
<% checkride_addon = "7000" %>
<% written_addon = "1050" %>
<% online_addon = "1000" %>
<% headset_addon = "1200" %>

<header class="bg-student bg-cover lg:bg-[center_top_-5rem] h-screen-3/4 flex flex-col items-center justify-center">
  <h1 class="uppercase font-header text-5xl lg:text-7xl font-semibold text-center">Approximate Training Costs</h1>
  <h2 class="italic text-3xl lg:text-5xl text-center pt-10 font-semibold">Affordable options for pilot training</h2>
</header>

<div class="bg-gradient-to-r from-slate-200 to-sky-100 px-3">
  <!--Pilot Training Programs-->
  <div class="container m-auto px-6 py-20 md:px-12 lg:px-20">
    <div class="m-auto text-center lg:w-10/12 xl:w-9/12">
      <h3 class="uppercase font-header text-3xl lg:text-5xl font-semibold text-center pb-10">Airline Pilot <br class="lg:hidden">Training Programs</h3>
    </div>
    <div 
    x-data="{ totalCost: <%=zero_to_hero%>, checkbox1: false, checkbox2: false, checkbox3: false, checkbox4: false, checkbox5: false, checkboxClick: 0 }" 
    class="mt-12 m-auto -space-y-4 items-center justify-center md:flex md:space-y-0 md:-space-x-4 xl:w-10/12"
    >
      <div class="relative z-10 -mx-4 group md:w-6/12 md:mx-0 lg:w-5/12">
        <div aria-hidden="true" class="absolute top-0 w-full h-full rounded-2xl bg-white shadow-xl transition duration-500 group-hover:scale-105 transform-gpu"></div>
        <div class="relative p-6 space-y-6 lg:p-8">
          <h3 class="text-3xl text-gray-700 font-semibold text-center">Zero to Hero</h3>
          <div class="relative flex justify-around">
            <div class="flex items-center">
              <div class="">
                <span class="block text-3xl text-gray-800 font-bold">$</span>
              </div>
              <span class="text-4xl text-gray-700 font-bold leading-0" x-text="totalCost.toLocaleString()"></span>
            </div>
          </div>
          <p class="italic text-center">Go from no experience to <br>career ready in less than a year</p>
          <ul role="list" class="w-max space-y-4 pb-6 m-auto text-gray-600">
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Private Pilot</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Instrument Rating</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Commercial Certificate</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Multi Engine Rating</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>CFI Certificate</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>CFII Instrument</span>
            </li>
          </ul>
          <p class="flex items-center justify-center space-x-4 text-lg text-gray-600 text-center">
            <span>Call us</span>
            <a href="tel:1-480-256-8355" class="flex space-x-2 items-center text-sky-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
              <span class="font-semibold">(480) 256-8355</span>
            </a>
            <span>or</span>
          </p>
          <%= link_to "Contact Us Today", contact_path, data: { turbo: false }, class: "block w-full py-3 px-6 text-center rounded-xl transition bg-sky-600 hover:bg-sky-700 active:bg-sky-800 focus:bg-sky-600 text-white font-semibold" %>
        </div>
      </div>

      <div class="relative group md:w-6/12 lg:w-7/12">
        <div aria-hidden="true" class="absolute top-0 w-full h-full rounded-2xl bg-white shadow-lg transition duration-500 group-hover:scale-105 transform-gpu"></div>
        <div class="relative p-5 pt-12 md:p-8 md:pl-8 md:rounded-r-2xl lg:pl-16 lg:p-12">
          <ul role="list" class="space-y-4 pb-6 text-gray-600">
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Accelerated full-time programs</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Instructor and aircraft availability</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Complete within a year</span>
            </li>
          </ul>
          <p class="text-gray-700 font-semibold text-2xl">Add ons</p>

          <div class="mt-6 flex justify-between gap-6">
            <div class="grid grid-cols-1 lg:grid-cols-2">
              <!-- Define the Checkmark -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol id="checkmark" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
                  </path>
                </symbol>
              </svg>

              <!-- Grid of add ons items -->
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox1" type="checkbox" class="promoted-input-checkbox" x-model="checkbox1" x-on:change="totalCost = checkbox1 ? totalCost + <%= mei_addon%> : totalCost - <%= mei_addon%>; checkboxClick = checkbox1 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox1">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">MEI</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox2" type="checkbox" class="promoted-input-checkbox" x-model="checkbox2" x-on:change="totalCost = checkbox2 ? totalCost + <%= checkride_addon %> : totalCost - <%= checkride_addon %>; checkboxClick = checkbox2 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox2">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Checkride fees</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox3" type="checkbox" class="promoted-input-checkbox" x-model="checkbox3" x-on:change="totalCost = checkbox3 ? totalCost + <%= written_addon %> : totalCost - <%= written_addon %>; checkboxClick = checkbox3 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox3">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Written test fees</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox4" type="checkbox" class="promoted-input-checkbox" x-model="checkbox4" x-on:change="totalCost = checkbox4 ? totalCost + <%= online_addon%> : totalCost - <%= online_addon%>; checkboxClick = checkbox4 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox4">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Starter bundle and online courses</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox5" type="checkbox" class="promoted-input-checkbox" x-model="checkbox5" x-on:change="totalCost = checkbox5 ? totalCost + <%= headset_addon%> : totalCost - <%= headset_addon%>; checkboxClick = checkbox5 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox5">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Aviation headset</span>
              </div>
            </div>
          </div>
          <div x-show="checkboxClick > 0" class="text-gray-500 pt-5 italic lg:hidden">
            Updated Cost: $<span x-text="totalCost.toLocaleString()"></span>
          </div>
        </div>
      </div>
    </div>

    <div 
    x-data="{ totalCost: <%=ppl_to_hero%>, checkbox6: false, checkbox7: false, checkbox8: false, checkbox9: false, checkbox10: false, checkboxClick: 0 }" 
    class="mt-12 m-auto -space-y-4 items-center justify-center md:flex md:space-y-0 md:-space-x-4 xl:w-10/12"
    >
      <div class="relative z-10 -mx-4 group md:w-6/12 md:mx-0 lg:w-5/12">
        <div aria-hidden="true" class="absolute top-0 w-full h-full rounded-2xl bg-white shadow-xl transition duration-500 group-hover:scale-105 transform-gpu"></div>
        <div class="relative p-6 space-y-6 lg:p-8">
          <h3 class="text-3xl text-gray-700 font-semibold text-center">PPL to Hero</h3>
          <div class="relative flex justify-around">
            <div class="flex items-center">
              <div class="">
                <span class="block text-3xl text-gray-800 font-bold">$</span>
              </div>
              <span class="text-4xl text-gray-700 font-bold leading-0" x-text="totalCost.toLocaleString()"></span>
            </div>
          </div>
          <p class="italic text-center">Continue your training after your private pilot certificate and get career ready</p>
          <ul role="list" class="w-max space-y-4 pb-6 m-auto text-gray-600">
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Instrument Rating</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Commercial Certificate</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Multi Engine Rating</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>CFI Certificate</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>CFII Instrument</span>
            </li>
          </ul>
          <p class="flex items-center justify-center space-x-4 text-lg text-gray-600 text-center">
            <span>Call us</span>
            <a href="tel:1-480-256-8355" class="flex space-x-2 items-center text-sky-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
              <span class="font-semibold">(480) 256-8355</span>
            </a>
            <span>or</span>
          </p>
          <%= link_to "Contact Us Today", contact_path, data: { turbo: false }, class: "block w-full py-3 px-6 text-center rounded-xl transition bg-sky-600 hover:bg-sky-700 active:bg-sky-800 focus:bg-sky-600 text-white font-semibold" %>
        </div>
      </div>

      <div class="relative group md:w-6/12 lg:w-7/12">
        <div aria-hidden="true" class="absolute top-0 w-full h-full rounded-2xl bg-white shadow-lg transition duration-500 group-hover:scale-105 transform-gpu"></div>
        <div class="relative p-5 pt-12 md:p-8 md:pl-8 md:rounded-r-2xl lg:pl-16 lg:p-12">
          <ul role="list" class="space-y-4 pb-6 text-gray-600">
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Accelerated full-time programs</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Instructor and aircraft availability</span>
            </li>
            <li class="space-x-2">
              <span class="text-sky-500 font-semibold">&check;</span>
              <span>Complete within a year</span>
            </li>
          </ul>
          <p class="text-gray-700 font-semibold text-2xl">Add ons</p>

          <div class="mt-6 flex justify-between gap-6">
            <div class="grid grid-cols-1 lg:grid-cols-2">
              <!-- Define the Checkmark -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol id="checkmark" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
                  </path>
                </symbol>
              </svg>

              <!-- Grid of add ons items -->
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox6" type="checkbox" class="promoted-input-checkbox" x-model="checkbox6" x-on:change="totalCost = checkbox6 ? totalCost + <%= mei_addon%> : totalCost - <%= mei_addon%>; checkboxClick = checkbox6 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox6">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">MEI</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox7" type="checkbox" class="promoted-input-checkbox" x-model="checkbox7" x-on:change="totalCost = checkbox7 ? totalCost + <%= checkride_addon %> : totalCost - <%= checkride_addon %>; checkboxClick = checkbox7 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox7">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Checkride fees</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox8" type="checkbox" class="promoted-input-checkbox" x-model="checkbox8" x-on:change="totalCost = checkbox8 ? totalCost + <%= written_addon %> : totalCost - <%= written_addon %>; checkboxClick = checkbox8 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox8">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Written test fees</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox9" type="checkbox" class="promoted-input-checkbox" x-model="checkbox9" x-on:change="totalCost = checkbox9 ? totalCost + <%= online_addon%> : totalCost - <%= online_addon%>; checkboxClick = checkbox9 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox9">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Starter bundle and online courses</span>
              </div>
              <div class="flex items-center">
                <div class="promoted-checkbox">
                  <input id="checkbox10" type="checkbox" class="promoted-input-checkbox" x-model="checkbox10" x-on:change="totalCost = checkbox10 ? totalCost + <%= headset_addon%> : totalCost - <%= headset_addon%>; checkboxClick = checkbox10 ? checkboxClick + 1 : checkboxClick - 1">
                  <label for="checkbox10">
                    <svg><use xlink:href="#checkmark" /></svg>
                  </label>
                </div>
                <span class="text-gray-600">Aviation headset</span>
              </div>
            </div>
          </div>
          <div x-show="checkboxClick > 0" class="text-gray-500 pt-5 italic lg:hidden">
            Updated Cost: $<span x-text="totalCost.toLocaleString()"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-gradient-to-b from-sky-100 to-sky-200">
  <%= render "shared/finance"%>
</section>

<section class="flex flex-col items-center pb-20 bg-gradient-to-r from-white to-slate-200">
  <h3 class="uppercase font-header text-3xl lg:text-5xl font-semibold text-center pt-20 pb-10">Price by the hour</h3>

  <div class="max-w-xl mx-3">
    <div class="grid grid-cols-2">
      <!--Table head-->
      <div class="bg-sky-600 text-white font-semibold pl-2 py-2 rounded-tl-2xl">
      Item
      </div>
      <div class="bg-sky-600 text-white font-semibold text-right pr-5 py-2 rounded-tr-2xl">
      Pricing
      </div>
      <!--1st row-->
      <div class="pl-2 py-3 bg-slate-200">
      Single Engine Airplane Rental
      </div>
      <div class="pr-2 text-right py-3 bg-slate-200">
      $<%= airplane_rental %> / Hour
      </div>
      
      <!--2nd row-->
      <div class="pl-2 py-3 bg-white border-l-2">
      Instruction
      </div>
      <div class="pr-2 text-right py-3 bg-white border-r-2">
      $<%= instruction %> / Hour
      </div>
      <!--3rd row-->
      <div class="pl-2 py-3 bg-slate-200">
      Single Engine Airplane and Instructor
      </div>
      <div class="pr-2 text-right py-3 bg-slate-200">
      $<%= (airplane_rental.to_i + instruction.to_i).to_s %> / Hour
      </div>
      <!--4th row-->
      <div class="pl-2 py-3 bg-white border-l-2">
      Simulator and Instructor
      </div>
      <div class="pr-2 text-right py-3 bg-white border-r-2">
      $<%= simulator %> / Hour
      </div>
      <!--multi row-->
      <div class="pl-2 py-3 bg-slate-200 rounded-bl-2xl">
      Multi Engine Airplane and Instructor
      </div>
      <div class="pr-2 text-right py-3 bg-slate-200 rounded-br-2xl">
      $<%= (multi_rental.to_i + instruction.to_i).to_s %> / Hour
      </div>
    </div>
  </div>
</section>

<section class="flex flex-col items-center bg-gradient-to-r from-slate-200 to-sky-100 pb-5 lg:pb-10">
  <h3 class="uppercase font-header text-3xl lg:text-5xl font-semibold text-center pt-20 pb-20">Hour Estimator</h3>

  <div class="flex flex-col lg:flex-row w-full" x-data="{ flight: '', instructor: '', sim: '', multi: '' }">
    <!--Mins and Averages-->
    <div class="lg:w-1/2 flex flex-col items-center mb-20 mx-5">
      <div class="">
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header">Private Pilot Minimums</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>40 hours total flight time</li>
            <li>20 hours flight time with instructor</li>
          </ul>
          <!--Mobile button with scroll-->
          <button class="btn-primary text-sm uppercase py-2 h-min lg:hidden" 
                x-on:click="flight=40, instructor=20, sim=0, multi=0" 
                onclick="event.preventDefault(); 
                const contactElement = document.getElementById('calculator');
                const targetOffset = contactElement.offsetTop -40;
                window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <!--Desktop button with no scroll-->
          <button class="btn-primary text-sm uppercase py-2 h-min hidden lg:block" 
                x-on:click="flight=40, instructor=20, sim=0, multi=0">
          Calculate
          </button>
        </div>
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Private Pilot Average</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>75 hours total flight time</li>
            <li>30 hours flight time with instructor</li>
            <li>10 hours ground instruction</li>
          </ul>
          <button class="btn-primary text-sm uppercase py-2 h-min lg:hidden" 
                  x-on:click="flight=75, instructor=40, sim=0, multi=0"
                  onclick="event.preventDefault(); 
                  const contactElement = document.getElementById('calculator');
                  const targetOffset = contactElement.offsetTop -40;
                  window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase py-2 h-min hidden lg:block" 
                  x-on:click="flight=75, instructor=40, sim=0, multi=0">
          Calculate
          </button>
        </div>
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Instrument Minimums</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>50 hours total flight time</li>
            <li>15 hours with an instructor</li>
          </ul>
          <button class="btn-primary text-sm uppercase py-2 h-min lg:hidden" 
            x-on:click="flight=50, instructor=15, sim=0, multi=0"
            onclick="event.preventDefault(); 
            const contactElement = document.getElementById('calculator');
            const targetOffset = contactElement.offsetTop -40;
            window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase py-2 h-min hidden lg:block" 
            x-on:click="flight=50, instructor=15, sim=0, multi=0">
          Calculate
          </button>
        </div>
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Instrument Average</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>65 hours total flight time</li>
            <li>25 hours with an instructor</li>
            <li>10 hours ground instruction</li>
            <li>10 hours simulator</li>
          </ul>
          <button class="btn-primary text-sm uppercase py-2 h-min lg:hidden" 
            x-on:click="flight=65, instructor=35, sim=10, multi=0"
            onclick="event.preventDefault(); 
            const contactElement = document.getElementById('calculator');
            const targetOffset = contactElement.offsetTop -40;
            window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase py-2 h-min hidden lg:block" 
            x-on:click="flight=65, instructor=35, sim=10, multi=0">
          Calculate
          </button>
        </div>
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Commercial Minimums</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>250 hours total flight time</li>
          </ul>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min lg:hidden" 
            x-on:click="flight=250, instructor=0, sim=0, multi=0"
            onclick="event.preventDefault(); 
            const contactElement = document.getElementById('calculator');
            const targetOffset = contactElement.offsetTop -40;
            window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min hidden lg:block" 
            x-on:click="flight=250, instructor=0, sim=0, multi=0">
          Calculate
          </button>
        </div>
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Multi Engine Average</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>15 hours multi engine time</li>
            <li>15 hours with an instructor</li>
          </ul>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min lg:hidden" 
            x-on:click="flight=0, instructor=15, sim=0, multi=15"
            onclick="event.preventDefault(); 
            const contactElement = document.getElementById('calculator');
            const targetOffset = contactElement.offsetTop -40;
            window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min hidden lg:block" 
            x-on:click="flight=0, instructor=15, sim=0, multi=15">
          Calculate
          </button>
        </div>
        <%# Begin (PREVIOUS ZERO TO HERO BUTTON)
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Zero to Hero <br><span class="italic">Airline Pilot Program</span></h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>Go from no flight experience to airline pilot</li>
          </ul>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min lg:hidden" 
            x-on:click="flight=0, instructor=15, sim=0, multi=15"
            onclick="event.preventDefault(); 
            const contactElement = document.getElementById('calculator');
            const targetOffset = contactElement.offsetTop -40;
            window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min hidden lg:block" 
            x-on:click="flight=0, instructor=15, sim=0, multi=15">
          Calculate
          </button>
        </div>
        %>

      </div>
    </div>
    
    <!--Calculator-->
    <div class="lg:w-1/2 flex flex-col items-center">
      <div class="grid grid-cols-2 lg:w-1/2 bg-slate-50 mx-5 pt-5 mb-10 rounded-2xl" id="calculator">
        <div class="font-header uppercase font-semibold text-xl pb-5 pl-5">Input</div>
        <div class="font-header uppercase font-semibold text-xl pb-5 text-right pr-5">Cost</div>

        <div class="flex flex-col">
          <span class="text-sm text-slate-500 ml-5">Flight Hours</span>
          <input type="text" id="flight" placeholder="Flight Hours" class="rounded-lg focus:ring-sky-500 focus:border-sky-500 w-40 ml-5" x-model="flight">
        </div>
        <div id="flight_hours_cost" class="py-2 text-right pr-10 pt-6" x-text="isNaN(flight) ? 'N/A' : ('$' + (flight * <%= airplane_rental %>).toLocaleString())"></div>
        
        <div class="flex flex-col">
          <span class="text-sm text-slate-500 ml-5 pt-5">Instructor Hours</span>
          <input type="text" id="instructor" placeholder="Instructor Hours" class="rounded-lg focus:ring-sky-500 focus:border-sky-500 w-40 ml-5" x-model="instructor">
        </div>
        <div id="instructor_hours_cost" class="py-2 text-right pr-10 mb-5 pt-12" x-text="isNaN(instructor) ? 'N/A' : ('$' + (instructor * <%= instruction %>).toLocaleString())"></div>

        <div class="flex flex-col">
          <span class="text-sm text-slate-500 ml-5">Simulator Hours</span>
          <input type="text" id="sim" placeholder="Simulator Hours" class="rounded-lg focus:ring-sky-500 focus:border-sky-500 w-40 ml-5" x-model="sim">
        </div>
        <div id="simulator_hours_cost" class="py-2 text-right pr-10 mt-5" x-text="isNaN(sim) ? 'N/A' : ('$' + (sim * <%= simulator %>).toLocaleString())"></div>

        <div class="flex flex-col">
          <span class="text-sm text-slate-500 ml-5 pt-5 ">Multi Engine Hours</span>
          <input type="text" id="sim" placeholder="Multi Engine Hours" class="placeholder:text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 w-40 ml-5" x-model="multi">
        </div>
        <div id="multi_hours_cost" class="py-2 text-right pr-10 mt-5" x-text="isNaN(multi) ? 'N/A' : ('$' + (multi * <%= multi_rental %>).toLocaleString())"></div>

        <div class="font-header uppercase font-semibold text-xl py-5 pl-5">Total Cost</div>
        <div class="font-header uppercase font-semibold text-xl py-5 text-right pr-9" x-text="isNaN(flight) || isNaN(multi) || isNaN(instructor) || isNaN(sim) ? 'N/A' : ('$' + (flight * <%= airplane_rental %> + instructor * <%= instruction %> + sim * <%= simulator %> + multi * <%= multi_rental %>).toLocaleString())"></div>
        
        <template x-if="isNaN(flight) || isNaN(multi) || isNaN(instructor) || isNaN(sim)">
          <div class="text-red-500 mt-2 ml-5 col-span-2 pb-5">Please enter valid numbers for all fields.</div>
        </template>
      </div>

      <!--<div class="mb-10 px-5">
        <h4 class="font-semibold uppercase text-base lg:text-xl font-header pt-5">Zero to Hero (PPL-CFII)</h4>
        <div class="flex justify-between gap-10">
          <ul class="text-sm lg:text-base">
            <li>275 hours single engine time</li>
            <li>25 hours multi engine time</li>
            <li>370 hours instruction</li>
          </ul>
          <button class="btn-primary text-sm uppercase -mt-5 py-2 h-min lg:hidden" 
            x-on:click="flight=275, instructor=370, sim=0, multi=25"
            onclick="event.preventDefault(); 
            const contactElement = document.getElementById('calculator');
            const targetOffset = contactElement.offsetTop -40;
            window.scrollTo({ top: targetOffset, behavior: 'smooth' });">
          Calculate
          </button>
          <button class="btn-primary text-sm uppercase lg:-mt-5 py-2 h-min hidden lg:block" 
            x-on:click="flight=275, instructor=370, sim=0, multi=25">
          Calculate
          </button>
        </div>
        <div class="italic text-slate-500 pb-10 max-w-2xl">
        * Books, checkride fees, headset, and iPad are about $12,000
        </div>
      </div>-->
      
    </div>
  </div>

  <div class="italic text-slate-500 pb-10 max-w-2xl mx-5">
    Notes: Individual times may vary depending on frequency of training, aircraft and instructor availability, and skills.  Total times given are an approximate.  Speak to a SimpliFly team member today for more details and information.
  </div>

  
</section>

<%= render "shared/cta_fly_with"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>