<%= render "shared/header"%>

<header class="w-full bg-home bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-bold text-8xl text-center py-10">THE SIMPLE WAY TO BECOME A PILOT</h1>
      <h2 class="hidden font-bold text-4xl text-center py-10">Pilot Training in Mesa, AZ and Salt Lake City, UT</h2>
      <%= link_to "START FLYING TODAY", root_path, class: "btn-primary" %>
  </div>
</header>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Do You Think You Could Be a Pilot?</h3>
    <p class="w-3/4">
    Are you fascinated by the world of aviation? 
    Have you always dreamed of soaring through the skies?
    Do you find yourself looking up at the planes overhead, 
    wondering what it would be like to be the one in control?
    </p>
    <p class="w-3/4 py-10">
    Start by taking our quick quiz to see if you have what it takes!
    Our quiz will assess your knowledge and skills related to 
    aviation, as well as your personality traits and interests, 
    to help determine if  flying is right for you.
    </p>
    <%= link_to "TAKE THE QUIZ", quiz_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "female_pilot_smiling_helicopter.webp", alt: "Student Pilot at Ideal Aviation Flying a Helicopter", class: "lg:h-screen-2/3"%>
  </div>
</section>

<section class="bg-gradient-to-r from-slate-200 to-blue-100 flex flex-col items-center py-10 pb-20">
  <div class="flex flex-col items-center">
    <h3 class="text-3xl font-semibold pb-5 font-sans mx-5 text-center pt-10">How to Get Started</h3>
    <p class="p-text text-center hidden lg:block">
    If you've always dreamed of becoming a pilot,  <br>
    now is the perfect time to get started.  <br>
    We offer a range of programs and services to  <br>
    help you achieve your aviation goals <br>
    </p>
    <p class="p-text text-center lg:hidden w-3/4">
    If you've always dreamed of becoming a pilot, 
    now is the perfect time to get started. 
    We offer a range of programs and services to 
    help you achieve your aviation goals
    </p>
  </div>
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 lg:gap-4 pt-10 lg:w-2/3 z-0">
    <div class="bg-white rounded-xl lg:rounded-none lg:rounded-tl-3xl mx-10 lg:mx-0 p-5 flex flex-col items-center justify-between">
      <h4 class="text-xl font-semibold pt-5 pb-3 font-sans mx-5 text-center">Learn About Being a Pilot</h4>
      <p class="p-text">
        If you're new to flying, you might not know where to start. Our team of experienced pilots and instructors can help guide you through the process and answer any questions you have about becoming a pilot. Click here to help you understand the pilot training process, and requirements.
      </p>
      <%= link_to "BECOME A PILOT", become_path, class: "btn-primary mt-5 text-base" %>
    </div>
    <div class="bg-white rounded-xl lg:rounded-none lg:rounded-tr-3xl mx-10 lg:mx-0 p-5 flex flex-col items-center justify-between">
      <h4 class="text-xl font-semibold pt-5 pb-3 font-sans mx-5 text-center">Take a Discovery Flight</h4>
      <p class="p-text">
        The best way to experience flying is to take a Discovery Flight.  This is a short introductory flight with one of our experienced instructors that will give you a taste of what it's like to fly an aircraft.  You'll have the opportunity to take the controls and learn basic maneuvers and enjoy the incredible views from above.
      </p>
      <%= link_to "SCHEDULE TODAY", discovery_flight_path, class: "btn-primary mt-5 text-base" %>
    </div>
    <div class="bg-white rounded-xl lg:rounded-none lg:rounded-bl-3xl mx-10 lg:mx-0 p-5 flex flex-col items-center justify-between">
      <h4 class="text-xl font-semibold pt-5 pb-3 font-sans mx-5 text-center">Start Flight Training</h4>
      <p class="p-text">
        We offer personalized training programs to help	you earn your Private Pilot Certificate and beyond. Our experienced instructors will work with you to develop a training plan that meets your goals, schedule, and learning style. Our facility and fleet are meticulously	maintained to ensure you receive the best	training possible.
      </p>
      <%= link_to "OUR COURSES", programs_path, class: "btn-primary mt-5 text-base" %>
    </div>
    <div class="bg-white rounded-xl lg:rounded-none lg:rounded-br-3xl mx-10 lg:mx-0 p-5 flex flex-col items-center justify-between">
      <h4 class="text-xl font-semibold pt-5 pb-3 font-sans mx-5 text-center">Advanced Flight Training</h4>
      <p class="p-text">
        Continue your flight training education with additional courses and certifications.  Ideal Aviation offers a range of advanced training options, including instrument training, multi-engine training, commercial training, and more.  We’re here to support you every step of the way in your aviation journey whether you’re flying for fun or for a career.
      </p>
      <%#= link_to "ADVANCED TRAINING", advanced_training_path, class: "btn-primary mt-5 text-base" %>
      <div class="btn-primary mt-5 text-base">ADVANCED TRAINING</div>
    </div>
  </div>
</section>

<%= render "shared/testimonials"%>

<section class="flex flex-col lg:flex-row-reverse py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Why Choose Ideal Aviation?</h3>
    <p class="w-3/4">
      Fly the Ideal Way.  Ideal Aviation is the place for pilots in St. Louis, Missouri.  We maintain the highest standards of safety in all of our operations.  Our certified flight instructors have decades of combined experience, ensuring that you have the knowledge and skills you need to fly safely and confidently.  
    </p>
    <p class="w-3/4 py-10">
      When you choose to fly at Ideal Aviation, you're not only joining the welcoming and friendly community of aviation, you become part of the Ideal Aviation family.  We are committed to your success and we want to see you succeed in your aviation goals.
    </p>
    <%= link_to "JOIN THE FAMILY", contact_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "ideal_team.webp", alt: "Ideal Aviation Team Photo", class: "lg:w-5/6"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row py-10">
  <div class="flex flex-col items-center justify-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">State of the Art Facilities</h3>
    <p class="w-3/4 pb-10">
      Our facility spans over three hangars and we have a growing fleet of ten aircraft and over 15 certified flight instructors to fit your training needs.  Ideal Aviation offers private classrooms for individualized ground instruction that provide a comfortable and personalized learning environment.  
    </p>
    <%= link_to "TAKE A TOUR", location_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "facility.webp", alt: "Cessna 172 Outside the Ideal Aviation Hangar During Sunset", class: "lg:h-screen-2/3"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Helicopter and Airplane Pilot Programs</h3>
    <p class="w-3/4 pb-10">
      Ideal Aviation offers Part 141 and Part 61 pilot training for rotary wing and fixed wing aircraft.  From private pilot all the way to commercial and CFII MEI, Ideal Aviation is here to help you reach your goals.  Ideal Aviation has also partnered with <%= link_to "Southwestern Illinois College", "https://www.swic.edu/academics/career-degrees/aviation/pilot-training/", target: "blank", class: "text-ideal-blue hover:underline"%> to provide college credit for flight and ground pilot training.
    </p>
    <span class="w-3/4">
      <h4 class="pb-10 font-semibold font-sans">Ideal Aviation is the best flight school in the St. Louis area.  Full staff of CFIs, aircraft availability, clean hangars, and study areas to create the best environment for your pilot training. Start flying with Ideal Aviation today!</h4>
    </span>
    <%= link_to "VIEW PROGRAMS", programs_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "student_pilot_recieves_certificate.webp", alt: "Student Pilot Passes Private Pilot Checkride at Ideal Aviation", class: "lg:w-5/6"%>
    <span class="text-slate-600 italic hidden lg:block">Pass your checkride with Ideal Aviation!</span>
  </div>
</section>

<%= render "shared/become_pilot_video"%>

<%= render "shared/visit_ideal"%>
  
<%= render "shared/cta_next_steps"%>

<%= render "shared/footer"%>



<!--Sticky div-->
</div>