<%# Head / Meta Data %>
<%# title("Advanced Traiing at Ideal Aviation") %>
<%# meta_description("Come train at Ideal Aviation.  We offer courses from private pilot to CFII and MEI.  Get your instrument rating and commercial certificate done in the best flight school in St. Louis") %>
<%# meta_keywords("Instrument rating st. louis, multi-engine training st. louis, flight instructor CFI rating st louis, piper seminole in st louis, guimbal cabri st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/header"%>

<header class="w-full bg-home bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-semibold font-header text-5xl lg:text-8xl lg:px-20 text-center">PILOT TRAINING. <br>MADE SIMPLE</h1>

      <h2 class="font-bold text-xl lg:text-3xl italic text-center py-5 lg:py-10">Accelerated and Flexible Programs in Mesa, AZ and Spanish Fork, UT</h2>
      <%= link_to "LEARN HOW TODAY", root_path, class: "btn-primary" %>
  </div>
</header>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <span class="text-3xl ">Step 1.</span>
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">YOUR DISCOVERY FLIGHT</h3>
    <p class="w-3/4">
      A discovery flight is the perfect way to get your feet off the
      ground and experience the joy of flying for the first
      time. During this introductory flight, you'll take the
      controls and work with one of our experienced
      instructors to learn the basics of flying.
    </p>
    <p class="w-3/4 py-10">
      Doing a discovery flight is the best way to
      determine if flying is for you and help you make an
      informed decision about pursuing your pilot's
      license. If you're ready to take the first step, sign
      up for a Discovery Flight today and discover the
      thrill of flying for yourself!
    </p>
    <%= link_to "SIGN UP NOW", discovery_flight_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "discovery-flight.webp", alt: "Student pilot taking a discovery flight", class: "lg:h-screen-2/3 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <span class="text-3xl ">Step 2.</span>
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">FLY AY SIMPLIFLY</h3>
    <p class="w-3/4">
      We'll help you every step of the way to get your private pilot certificate and fly a plane. 
      You'll gain the knowledge, skills, and confidence to safely navigate the skies with precision.  
      With a private pilot certificate from SimpliFly you'll have the freedom to embark on exciting cross country adventures, fly friends and family to new destinations, and be the pilot in command of your own aircraft. 

    </p>
    <p class="w-3/4 py-10">
      Then, expand your skills, enhance your aviation knowledge, and open doors to a wide range of career opportunities.  SimpliFly offers instrument rating and commercial certificate programs to equip you with the skills and expertise needed to navigate confidently in challenging conditions and unlock new opportunities in your aviation career.
    </p>
    <%= link_to "VIEW PROGRAMS", root_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "pilot_pass_checkride.webp", alt: "Student pilot passing a checkride", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <span class="text-3xl ">Step 3.</span>
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">INSTRUCT AT SIMPLIFLY</h3>
    <p class="w-3/4">
      After obtaining your commercial pilot certificate, the path to becoming an airline pilot involves building a minimum of 1,500 flight hours. 
      Instructing at SimpliFly allows you to accumulate flight time while helping others achieve their aviation dreams. Our comprehensive CFI training program will equip you with the skills, knowledge, and mentoring needed to excel in this crucial role.

    </p>
    <p class="w-3/4 py-10">
      Our commitment to excellence, combined with a supportive and collaborative environment, ensures that you'll thrive as an instructor. Join our team of dedicated professionals at SimpliFly and embark on a rewarding journey that not only helps you build your flight hours but also allows you to inspire and mentor the next generation of pilots.
    </p>
    <%= link_to "BECOME A CFI", root_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "student-pilot-after-solo-with-instructor.webp", alt: "Student pilot at SimpliFly after soloing pictured with instructor", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <span class="text-3xl ">Step 4.</span>
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">AIRLINE PILOT CAREER</h3>
    <p class="w-3/4">
      Once you have achieved the necessary flight hours, SimpliFly will provide guidance and resources to help you transition to the next phase of your career: the Airline Transport Pilot (ATP) certificate. Our team of experienced mentors will assist you in navigating the ATP certification process, ensuring you meet the required qualifications and standards set by the FAA.

    </p>
    <p class="w-3/4 py-10">
      SimpliFly understands that the journey to an airline pilot career is an exciting and challenging one. We are here to support you every step of the way, providing guidance, resources, and a network of industry connections. Join us as you embark on this remarkable adventure, and let SimpliFly be your partner in reaching new heights as an airline pilot. 
    </p>
    <%= link_to "START TODAY", root_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "airline_pilot_simplifly_alumni.webp", alt: "SimpliFly alumni flying at the airlines", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<%= render "shared/cta_next_steps"%>

<%= render "shared/testimonials"%>

<%= render "shared/cta_pilot_simple"%>

<%= render "shared/footer"%>



<!--Sticky div-->
</div>