<%= render "shared/header"%>
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:pt-16 lg:px-6 p-text">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl  font-bold text-slate-900 ">Leadership Team</h2>
      <p class="font-light text-slate-500 lg:mb-16 lg:text-xl ">Our leadership team consists of skilled and experienced aviation experts who have a deep passion for the flight training and are dedicated to delivering exceptional training and support to our students.</p>
    </div> 
    <div class="px-5 lg:mx-auto flex flex-col w-full gap-8 mb-6 lg:mb-16 max-w-4xl">
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex  ">
        <%= image_tag "jt.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "JT Lesueur"%>
        <div class="py-5 lg:py-0 px-5">
          <h3 class="text-xl font-semibold  text-slate-900 ">
              JT Lesueur
          </h3>
          <span class="text-slate-500 ">Owner | Instructor</span>
          <p class="mt-3 mb-4 font-light text-slate-500 ">JT has a passion for helping people become better. From a young age he learned the importance of hardwork and how to do it from his dad. He spent a lot of time working for his families car dealership and also learned the value of customer service. Instead of continuing on at the dealership he decided to pursue his dream of becoming an airline pilot and now flies for SkyWest Airlines. JT has his ATP and is a CFI, CFII, and MEI.</p>
        </div>
      </div> 
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex">
          <%= image_tag "blake.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "Blake Murphy"%>
          <div class="p-5">
            <h3 class="text-xl font-semibold  text-slate-900 ">
                Blake Murphy
            </h3>
            <span class="text-slate-500 ">Owner | Instructor</span>
            <p class="mt-3 mb-4 font-light text-slate-500 ">Blake is a CFI, CFII and MEI. He completed his training at ATP flight school before working at CAE. He worked as a multi-engine instructor before opening SimpliFly with JT. He has over 1500 hours of time, most of that dual-given. Blake has decided to forgo the airlines and focus his attention on helping people become pilots and reach their goals of flying for fun or becoming a professional pilot.</p>
          </div>
      </div> 
      <div class="items-center bg-slate-100 rounded-lg shadow lg:flex">
        <%= image_tag "jordan.webp", class: "w-full lg:w-54 rounded-lg rounded-b-none lg:rounded-none lg:rounded-l-lg", alt: "Jordan Cortez"%>
        <div class="py-5 lg:py-0 px-5">
            <h3 class="text-xl font-semibold  text-slate-900 ">
                Jordan Cortez
            </h3>
            <span class="text-slate-500 ">Director | Chief Flight Officer</span>
            <p class="mt-3 mb-4 font-light text-slate-500 ">Jordan was raised in numerous parts of Arizona and is an instructor at SimpliFly. After receiving his Bachelor of Science from Brigham Young University, he began flight training at Falcon Field Airport in 2020. Jordan is currently a member of the SkyWest Cadet program with future plans of a life-long career in the airline industry. One of the few things he enjoys more than flying is teaching others. Jordan wants to help others foster a love and passion for flying just as he has.</p>
        </div>
      </div> 
    </div>  
  </div>
</section>

<section class="bg-white">
  <div class="pb-8 px-4 mx-auto max-w-screen-xl text-center lg:pb-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-bold text-slate-900 ">Our Instructors</h2>
        <p class="font-light text-slate-500 sm:text-xl dark:text-slate-400">At SimpliFly, our dedicated instructors prioritize delivering top-notch flight training to students. They combine their extensive aviation expertise, passion for the field, and commitment to creating a safe and supportive learning atmosphere. By doing so, they enable students to reach their aspirations and develop into proficient pilots.</p>
      </div> 

      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "carsten.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Carsten Brady"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Carsten Brady
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "ally.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Ally Murphy"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Ally Murphy
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "zach.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Zach Figgins"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Zach Figgins
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "dan.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Dan Klim"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Dan Klim
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "takoda.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Takoda Timpauer"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Takoda Timpauer
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "parker.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Parker Reynolds"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Parker Reynolds
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "matt.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Matt Barcelos"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Matt Barcelos
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "anders.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Anders Jones"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Anders Jones
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "sal.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Sal Nasta"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Sal Nasta
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
        <div class="text-center text-slate-500 dark:text-slate-400">
          <%= image_tag "doug.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Doug Gillette"%>
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
              Doug Gillette
          </h3>
          <p>Certified Flight Instructor</p>
        </div>
      </div>  
  </div>
</section>

<%= render "shared/cta_pilot_simple"%>
<%= render "shared/footer"%>