<%# Head / Meta Data %>
<% title("The SimpliFly Team") %>
<% meta_description("Meet the experienced team of instructors at Simplifly in Mesa, Arizona near Phoenix and Scottsdale. Our knowledgeable and dedicated instructors are committed to your pilot training success. Many of our students come from") %>
<% meta_keywords("Flight School Instructors, Pilot Training Team, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School") %>

<%= render "shared/header"%>
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:pt-16 lg:px-6 p-text">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl  font-bold text-slate-900 ">Leadership Team</h2>
      <p class="font-light text-slate-500 lg:mb-16 lg:text-xl ">Our leadership team consists of skilled and experienced aviation experts who have a deep passion for the flight training and are dedicated to delivering exceptional training and support to our students.</p>
    </div> 
    <div class="px-5 lg:mx-auto flex flex-col w-full gap-8 mb-6 lg:mb-16 max-w-4xl">
      
      <div class="items-center h-96 bg-slate-100 rounded-lg shadow-md lg:flex overflow-hidden ring-1 ring-slate-200">
          <%= image_tag "Greg Hadley.webp", class: "w-2/5 h-full object-cover object-top", alt: "Blake Murphy"%>
          <div class="px-9 w-3/5">
            <h3 class="text-2xl font-bold  text-slate-900 ">
                Greg Hadley
            </h3>
            <span class="text-slate-500 font-semibold text-xl py-5">Owner</span>
            <p class=" font-light text-slate-500 text-base text-justify">Greg has had a lifelong passion for airplanes and flying, which began at a young age. While still in high school, he worked at Sky Park in Bountiful, Utah, and earned his private pilot's license. Though life led him through a successful career in HVAC construction and over 20 years in real estate, he has returned to his first love: aviation.
              Together with his wife, he owns and operates SimpliFly, a venture that combines their shared love for flying. As he continues to work toward earning additional ratings, Greg balances his professional pursuits with personal interests that include fishing, spending time with family, and solving puzzles.
            </p>
          </div>
      </div> 

      <div class="items-center h-96 bg-slate-100 rounded-lg shadow-md lg:flex overflow-hidden ring-1 ring-slate-200">
          <%= image_tag "Julie Hadley.webp", class: "w-2/5 h-full object-cover", alt: "Blake Murphy"%>
          <div class="px-9 w-3/5">
            <h3 class="text-2xl font-bold  text-slate-900 ">
                Julie Hadley
            </h3>
            <span class="text-slate-500 font-semibold text-xl py-5">Owner</span>
            <p class=" font-light text-slate-500 text-base text-justify">
              With 18 years of experience in education, Julie is a lifelong learner and passionate teacher. Known for her organizational skills and talent for working with numbers, she thrives in both creative and analytical pursuits. Outside the classroom, she enjoys reading, sewing, paddle boarding, and exploring family history. A true collaborator, she loves working alongside her husband and supporting him in their shared ventures, including their exciting journey with SimpliFly. Above all, she treasures spending time with her children and grandchildren, cherishing every moment with her growing family.
            </p>
          </div>
      </div> 

      <div class="items-center h-96 bg-slate-100 rounded-lg shadow-md lg:flex overflow-hidden ring-1 ring-slate-200">
          <%= image_tag "Caitney Hollenbeck.webp", class: "w-2/5 h-full object-cover", alt: "Blake Murphy"%>
          <div class="px-9 w-3/5">
            <h3 class="text-2xl font-bold  text-slate-900 ">
                Caitney Hollenbeck
            </h3>
            <span class="text-slate-500 font-semibold text-xl py-5">Office Manager</span>
            <p class=" font-light text-slate-500 text-base text-justify">
              Caitney has been with Simplifly for two years, working as the office manager. Currently in her second year of college, she is pursuing a degree to become a registered dietitian, with four years left in their program. While she has no interest in piloting herself, she enjoys flying with her husband, who is a commercially rated pilot.
            </p>
          </div>
      </div> 
       
    </div>  
  </div>
</section>

<section class="bg-white">
  <div class="pb-8 px-4 mx-auto max-w-screen-xl text-center lg:pb-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-bold text-slate-900 ">Our Instructors</h2>
        <p class="font-light text-slate-500 sm:text-xl dark:text-slate-400">At SimpliFly, our dedicated instructors prioritize delivering top-notch flight training to students. They combine their extensive aviation expertise, passion for the field, and commitment to creating a safe and supportive learning atmosphere. By doing so, they enable students to reach their aspirations and develop into proficient pilots.</p>
      </div> 

      <div class="flex flex-wrap justify-center gap-8 lg:gap-16 max-w-5xl mx-auto">
        
        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Scott Wilson.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Scott Wilson"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
              Scott Wilson
          </h3>
          <p>A&P, IA, MEI</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Anders Jones.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Anders Jones"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Anders Jones
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Bridon Bowen.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Bridon Bowen"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Bridon Bowen
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Blake Meservy .webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Blake Meservy"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Blake Meservy
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Davin Hansen.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Davin Hansen"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Davin Hansen
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Adel Ho.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Adel Ho"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Adel Ho
          </h3>
          <p>CFI/CFII/MEI</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Jake Horn.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Jake Horn"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Jake Horn
          </h3>
          <p>CFI/CFII/MEI</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Dolly Woodhall.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Dolly Woodhall"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Dolly Woodhall
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Josh Perkins.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Josh Perkins"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Josh Perkins
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Porter Arnett.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Porter Arnett"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Porter Arnett
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Jessica Roy .webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Jessica Roy"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Jessica Roy
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Zach Figgins.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Zach Figgins"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Zach Figgins
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Isaac Young.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Isaac Young"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Isaac Young
          </h3>
          <p>CFI/CFII/MEI</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Mitch Lovell.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Mitch Lovell"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Mitch Lovell
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Dallen Petersen.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Dallen Petersen"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Dallen Petersen
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Devon Webb.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Devon Webb"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Devon Webb
          </h3>
          <p>CFI/CFII</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Corey Elmquist.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Corey Elmquist"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Corey Elmquist
          </h3>
          <p>A&P</p>
        </div>

        <div class="text-center text-slate-500 dark:text-slate-400 group">
          <div class="rounded-full overflow-hidden w-48 h-48 group-hover:shadow-lg duration-500">
            <%= image_tag "Olivia Young.webp", class: "object-cover h-full w-full group-hover:scale-105 duration-300 ease-out", alt: "Olivia Young"%>
          </div>
          <h3 class="mt-3 mb-0 text-2xl font-bold tracking-tight text-slate-900 ">
            Olivia Young
          </h3>
          <p>Scheduler<br>Student Coordinator</p>
        </div>
        
      </div>  
  </div>
</section>

<%= render "shared/cta_pilot_simple"%>
<%= render "shared/footer"%>