<%= form_with(model: reimbursement, class: "contents") do |form| %>
  <% if reimbursement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reimbursement.errors.count, "error") %> prohibited this reimbursement from being saved:</h2>

      <ul>
        <% reimbursement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" %>
  </div>

  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" %>
  </div>

  <%= invisible_captcha :confirm_email, :reimbursement %>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :entry_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" %>
  </div>

<div class="my-5">
    <%= form.label :amount %>
    <div class="relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-gray-500">$</span>
        <%= form.text_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none pl-8 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" %>
    </div>
</div>

<div class="my-5">
  <%= form.label :preferred_payment_method %>
  <%= form.select :preferred_payment, ['','Credit on Flight Circle', 'Zelle', 'Check', 'Venmo'], {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" } %>
</div>
  <div class="my-5">
    <%= form.label "If Zelle or Venmo selected please provide your Zelle number/email or venmo username" %>
    <%= form.text_field :username, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-500 focus:ring-sky-500" %>
  </div>

  <div class="my-5">

    <%= form.file_field :receipt, accept: 'image/png image/gif image/jpeg image/jpg', class: "text-sm text-grey-500
            file:py-2 file:px-6
            file:rounded-lg file:border-0
            file:text-sm file:font-medium
            file:bg-blue-100 file:text-blue-700
            hover:file:cursor-pointer hover:file:bg-blue-200
            hover:file:text-blue-700" %>
  </div>

  <%= form.hidden_field :status, value: "Entered" %>

  <div class="inline">
    <%= form.submit "Submit", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
