<div id="<%= dom_id reimbursement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= reimbursement.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= reimbursement.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Entry date:</strong>
    <%= reimbursement.entry_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= reimbursement.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preferred payment:</strong>
    <%= reimbursement.preferred_payment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= reimbursement.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Upload:</strong>
    <a href="<%= rails_storage_proxy_url(reimbursement.receipt)%>" target="blank"><img src="<%= rails_storage_proxy_url(reimbursement.receipt)  %>" class="w-52"></a>
    
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this reimbursement", reimbursement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this reimbursement', edit_reimbursement_path(reimbursement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
