<div id="<%= dom_id reimbursement %>">
  <div class="flex gap-5">
    <p class="mt-5">
      <strong class="block font-medium mb-1">Name</strong>
      <span class="text-slate-600"><%= reimbursement.first_name %> <%= reimbursement.last_name %></span>
      
    </p>
    <p class="mt-5">
      <strong class="block font-medium mb-1">Date</strong>
      <span class="text-slate-600"><%= reimbursement.entry_date.strftime("%B %d, %Y") %></span>
    </p>
    <p class="mt-5">
      <strong class="block font-medium mb-1">Amount</strong>
      <span class="text-slate-600">$ <%= reimbursement.amount %></span>
    </p>
  </div>
  

  <div class="flex gap-5">
    <p class="mt-5">
      <strong class="block font-medium mb-1">Preferred payment</strong>
      <span class="text-slate-600"><%= reimbursement.preferred_payment %></span>
    </p>

    <p class="mt-5">
      <strong class="block font-medium mb-1">Username</strong>
      <span class="text-slate-600">
        <% if !reimbursement.username.blank?  %>
        <%= reimbursement.username %>
        <% else %>
        No username entered
        <%end%>
      </span>
    </p>
  </div>

  <p class="mt-5">
    <strong class="block font-medium mb-1">Status</strong>
    <span class="text-slate-600"><%= reimbursement.status %></span>
  </p>
  

  <p class="my-5">
    <strong class="block font-medium mb-1">Upload:</strong>
    <% if !reimbursement.receipt.blank?%>
      <a href="<%= rails_storage_proxy_url(reimbursement.receipt)%>" target="blank"><img src="<%= rails_storage_proxy_url(reimbursement.receipt)  %>" class="w-52"></a>
    <%else%>
      No image attached
    <%end%>
  </p>

</div>
