






<header class="flex flex-row items-center justify-center gap-10 bg-gradient-to-t from-sky-300 to-slate-100 px-3">
  <img src="https://simpliflyco.com/simplifly_250.png" alt="SimpliFly Logo" class="w-32 px-5">
  <h1 class="font-bold text-5xl font-header uppercase ">New Pilot Registration</h1>
</header>

<div class="flex flex-col w-full items-center bg-white">
  <div class="max-w-4xl w-full px-5">

    <h2 class="font-header uppercase font-bold text-xl pt-10">Student Pilot Details</h2>
    <!-- Encompass name in one line -->
    <div class="flex flex-row w-full gap-5">
      <div class="my-2 w-half">
        First Name
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.first_name %></div>
      </div>

      <div class="my-2 w-half">
        Last Name
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.last_name %></div>
      </div>
    </div>

    <!-- Encompass email and phone in one line -->
    <div class="flex flex-row w-full gap-5">
      <div class="my-2 w-half">
        Phone
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.phone %></div>
      </div>

      <div class="my-2 w-half">
        Email
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.email %></div>
      </div>
    </div>

    <div class="my-2">
      Street Address
      <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.street %></div>
    </div>

    <!-- Encompass address in one line -->
    <div class="flex flex-row w-full gap-5">
      <div class="my-2 w-half">
        City
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.city %></div>
      </div>

      <!-- Put in one line for mobile -->
      <div class="flex w-half">
        <div class="my-2 w-eighth">
          State
          <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.state %></div>
        </div>

        <div class="my-2 w-threeeight">
          Zip Code
          <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.zip %></div>
        </div>
      </div>
    </div>

    <h2 class="font-header uppercase font-bold text-xl pt-5">Emergency Contact Details</h2>

    <div class="my-2">
      Emergency Contact Full Name
      <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.emergency_name %></div>
    </div>

    <!-- Encompass email and phone in one line -->
    <div class="flex flex-row w-full gap-5">
      <div class="my-2 w-half">
        Emergency Contact Phone
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.emergency_phone %></div>
      </div>

      <div class="my-2 w-half">
        Emergency Contact Email
        <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.emergency_email %></div>
      </div>
    </div>

    <h2 class="font-header uppercase font-bold text-xl pt-5">Flight Training Details</h2>

    <div class="my-2">
      Training Option
      <div class="block outline-none px-3 py-2 mt-2 w-64 text-slate-500 bg-slate-100 rounded-md"><%= registration_form.course %></div>
    </div>

    <div class="my-2">
      Hours Planned to Dedicate Each Week to Flight Training
      <div class="block outline-none px-3 py-2 mt-2 w-24 text-slate-500 bg-slate-100 rounded-md"><%= registration_form.hours_planned %></div>
    </div>

    <div class="my-2">
      What Are Your Goals
      <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md"><%= registration_form.goal %></div>
    </div>

    <div class="my-2">
      How Are You Paying for Training
      <div class="block outline-none px-3 py-2 mt-2 w-64 text-slate-500 bg-slate-100 rounded-md"><%= registration_form.financed %></div>
    </div>

    <h2 class="font-header uppercase font-bold text-xl pt-2">Availability</h2>
      <div class="block outline-none px-3 py-2 mt-2 text-slate-500 bg-slate-100 rounded-md">
        <%= registration_form.availability %>
      </div>

    <h2 class="font-header uppercase font-bold text-xl pt-5">Prior Flight Experience</h2>

    <div class="my-2">
      Total Flying Time Accrued
      <div class="block outline-none px-3 py-2 mt-2 w-24 text-slate-500 bg-slate-100 rounded-md"><%= registration_form.total_time %></div>
    </div>

    <div>
      <div class="my-2">
        Certificates and Ratings Held
        <br>
        <span class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md">
          <%= registration_form.certificates_held %>
        </span>
      </div>
    </div>

    <div class="mt-5 mb-10">
      <h2 class="font-header uppercase font-bold text-xl">Commitment</h2>
      <div class="block outline-none px-3 py-2 mt-2 w-full text-slate-500 bg-slate-100 rounded-md">
        <% if registration_form.course = "Accelerated Pilot Training" %>
        I commit 40+ hours per week to pilot training in the form of flight time, ground school, and at-home study.
        <% elsif registration_form.course = "Flexible Pilot Training" %>
        I commit 20+ hours per week to pilot training in the form of flight time, ground school, and at-home study.
        <% end %>
      </div>
    </div>

    <h2 class="font-header uppercase font-bold text-xl mb-20">Signatures</h2>
    <div class="flex flex-row w-full gap-20">
      <div class="border-t border-black w-half text-slate-700 pt-1"><%= registration_form.first_name %> <%= registration_form.last_name %> Signature</div>
      <div class="border-t border-black w-half text-slate-700 pt-1">Date</div>
    </div>

    <div class="flex flex-row w-full gap-20 mt-20">
      <div class="border-t border-black w-half text-slate-700 pt-1">SimpliFly CFI Name</div>
      <div class="w-half"></div>
    </div>

    <div class="flex flex-row w-full gap-20 mt-20">
      <div class="border-t border-black w-half text-slate-700 pt-1">SimpliFly CFI Signature</div>
      <div class="border-t border-black w-half text-slate-700 pt-1">Date</div>
    </div>
  </div>
</div>
